.product-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.product-detail-left {
  flex: 1 1 33%; /* 1/3 of the container width */
  padding-right: 20px;
}

.product-detail-image {
  max-width: 100%;
  height: auto;
}

.product-detail-right {
  flex: 1 1 66%; /* 2/3 of the container width */
}

.product-detail-right h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail-right p {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
